{"web":{"client_id":"746337013639-jou0k4723nrfv51e4ud94g6cjqor7uic.apps.googleusercontent.com","project_id":"pwaid-dir","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://accounts.google.com/o/oauth2/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"K5WdJuRhM26et0_lvGMZ0_vL","redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]}}